
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(data/bg.png);
    align-items: center;
    height: 920px;
}
#radio {
    display: flex;
    background-color: rgb(206, 205, 205);
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
#login {
    display: flex;
    background-color: rgb(206, 205, 205);
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: fit-content;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: fit-content;
    justify-content: center;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 19px;
}
label{
    width: 300px;
    margin-bottom: 5px;
}
input{
    width: 300px;
    height:40px;
    margin-bottom: 30px;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 19px;

}
h1{
    font-size: 60px;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.radio {
    display: flex;
    flex-direction: row;
    align-items:flex-start ;
}
.gender {
    height: 20px;
    margin: 0px;
    margin-bottom: 20px;
}

#answer {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    height: fit-content;
    width: 300px;
    bottom: 0px;
    margin-top: 30px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
